.header{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
}

.results{
    /* background-image: url(/low-poly-grid-haikei-3.svg); */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}